body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  align-items: center;
  display: flex;
  height: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  width: 227px;
}

header nav .nav-right-section a {
  color: rgba(0, 0, 0, 0.87);
  margin-right: 1rem;
}

header nav .nav-right-media a {
  margin-right: 0;
}

.nav-right-section section {
  align-items: center;
  display: flex;
}

.nav-right-section .nav-right-text {
  margin-bottom: 2px;
}

.nav-right-text a:hover {
  text-decoration: underline;
}

nav .nav-right-section .menu-icon {
  background-image: url("/assets/dots-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #5f6368;
  cursor: pointer;
  height: 16px;
  margin-bottom: 1px;
  margin-right: 22px;
  width: 16px;
}

nav .avatar {
  margin: 0;
  margin-right: 20px;
}

nav .avatar img {
  border-radius: 50%;
  height: 32px;
}

main {
  margin-top: 150px;
  text-align: center;
}

main .main-logo {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 530px;
}

main .main-logo img {
  width: 300px;
}

main .main-input {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 530px;
}

main .main-input-container {
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 100px;
  display: flex;
  height: 44px;
  justify-content: center;
  width: 550px;
}

main .main-input input {
  border: none;
  height: 40px;
  outline: none;
  width: 450px;
}

main .main-input-container:hover {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

main .main-input .search-icon {
  margin-top: 3px;
  padding-right: 13px;
}

main .main-input .search-icon svg {
  fill: #9aa0a6;
  height: 20px;
  width: 20px;
}

main .main-input .micro-icon {
  cursor: pointer;
  width: 24px;
}
